.header {
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.header__nav {
    display: none;
}

.quick-links {
    display: flex;
    gap: 1rem;
}

.fa-magnifying-glass {
    color: var(--color-primary-ltr);
    align-self: center;
}

.hide-for-mobile {
    display: none;
}

.hide-for-tablet {
    display: none;
}

@media (min-width: 1085px) {
    .header__nav {
        display: flex;
        flex-direction: row;
        color: var(--color-primary-ltr);
    }

    .nav__list {
        display: flex;
        list-style: none;
        gap: 1.5rem;
    }

    .fa-bars {
        display: none;
    }

    .hide-for-mobile {
        display: flex;
    }
}

@media (min-width: 1215px) {
    .hide-for-tablet {
        display: flex;
    }
}

#search--btn {
    cursor: pointer;
}

.search-bar {
    position: fixed;
    top: 0;
    background-color: var(--color-white);
    width: 100%;
    height: 2rem;
    transform: translateY(-100%);
    transition: var(--transition-all);
}

.search--active .search-bar {
    transform: translateY(0);
}