.hero {
    display: flex;
    flex-flow: column;
    justify-content: center;

    padding: 2rem 0;
    gap: 2rem;
    margin: auto;

    max-width: 50rem;

    background-color: var(--color-primary);
}

.hero__title {
    color: var(--color-white);
}

.hero__main,
.hero__secondary {
    display: flex;
    border: 0.25rem solid var(--color-primary-lt);
    border-radius: 0.5rem;
    background-color: var(--color-white);
}

.hero__main {
    flex-flow: column;
    overflow: hidden;
}

.hero__main-top {
    background-color: var(--color-primary-ltr);
}

.hero__main-bot {
    display: flex;
    align-items: center;
}

.hero__workspace {
    display: flex;
    flex-flow: column;
}

.hero__members {
    display: flex;
}

.hero__secondary {
    gap: 1rem;
    padding: 1rem;
    flex-direction: column;
}

.hero__secondary p {
    margin: 0;
}

.hero__secondary img {
    max-width: 200px;
    height: auto;
    margin: 0 0 -49px -1rem;
}

@media screen and (min-width: 960px) {
    .hero__secondary {
        flex-direction: row;
        align-items: center;
    }

    .hero__secondary img {
        order: -1;
        margin: -1rem 0 -49px -1rem;
    }

    .hero__secondary .cta {
        margin-left: auto;
    }
}

.hero__footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* BUTTONS */

.hero__btn--launch, .hero__btn--workspace {
    margin-left: auto;
}