@import "resets.css";
@import "base.css";
@import "fonts.css";
@import "variables.css";
@import "typography.css";
@import "hero.css";
@import "cta.css";

html {
  font-size: 18px;
}

body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}
